<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://fonts.googleapis.com/css2?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
<div class="wrapper">
    <div class="top">
        <div class="title"><h1>My Blog</h1></div>
    </div>

    {% if error_ == True: %}
        <div class="content">
            <div class="card">
                <h2>Sorry</h2>
                <p class="text">No blogs found atm </p>
            </div>
        </div>
    {% else: %}
        {% for key in range(posts|length + 1) %}
            <div class="content">
                <div class="card">
                    <h2>{{ posts['posts'][key + 1]['title'] }}</h2>
                    <p class="text">{{ posts['posts'][key + 1]['subtitle'] }}</p>
                    <a href="{{ url_for('get_blogs', blog_id=posts['ids'][key]) }}">Read</a>
                </div>
            </div>
        {% endfor %}
    {% endif %}

</div>
</body>
<footer>
    <p>Made with ♥️ by Decani.</p>
</footer>
</html>